# Ignore all hidden dotfiles
.*

# Allow useful dotfiles
!/.editorconfig
!/.gitignore

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# Ignore logs
*.log

# VS Code settings
!.vscode

# Local Netlify folder
.netlify

# nvm
!.nvmrc

# Node modules
node_modules
